@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Founders Grotesk';
    src: url('./assets/fonts/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.font-founders-grotesk {
    font-family: 'Founders Grotesk', sans-serif;
}